<!-- <h1>{{title}}</h1>
<p>{{desc}}</p> -->

<!-- <div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">studentname</span>
  <input type="text" class="form-control" [(ngModel)]="username" placeholder="give your name" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">age</span>
  <input type="text" class="form-control" [(ngModel)]="age" placeholder="give your age" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
</div>
<button type="button" class="btn btn-primary btn-lg" (click)="save()">Save</button> -->

<!-- <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->

<form class="row g-3 needs-validation" novalidate>
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label" >First name</label>
    <input type="text" [(ngModel)]="student.firstname" class="form-control" id="validationCustom01" placeholder="Enter your first name" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Last name</label>
    <input type="text" [(ngModel)]="student.lastname" class="form-control" id="validationCustom02" placeholder="Enter your last name"  required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  
  <div class="col-md-6">
    <label for="validationCustom03" class="form-label"  >Subject</label>
    <input [(ngModel)]="student.subject" placeholder="PCM, PCMB, PCB etc" type="text" class="form-control" id="validationCustom03" required>
    <div class="invalid-feedback">
      Please provide your Subject Combination
    </div>
  </div>
  
  <div class="col-md-3">
    <label for="validationCustom05" class="form-label">Age</label>
    <input type="number" [(ngModel)]="student.age" class="form-control" id="validationCustom05" required>
    <div class="invalid-feedback">
      Enter your Age
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom05" class="form-label">Class</label>
    <input [ngModelOptions]="{standalone: true}" [(ngModel)]="student.class"  type="number" class="form-control" id="validationCustom05" required>
    <div class="invalid-feedback">
        Enter your Class
    </div>
</div>
<div style="margin: 10px ;" class="form-check">
    <input class="form-check-input" [ngModelOptions]="{standalone: true}" [(ngModel)]="student.gender"  value="Female" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    <label class="form-check-label" for="flexRadioDefault1">
        Female
    </label>
</div>
<div style="margin: 10px ;" class="form-check">
    <input value="Male" [ngModelOptions]="{standalone: true}" [(ngModel)]="student.gender"  class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
        checked>
    <label class="form-check-label" for="flexRadioDefault2">
        Male
    </label>
</div>
  <div class="col-12" style="text-align: center;">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
</form>