<app-navbar></app-navbar>
<h1>Welcome {{user}} !!</h1>

<h1 style="text-align: center; background-color: #F7B285 ;" class="display-1">List of Bookings</h1>
<br/>


<ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let s of bookings; index as i">
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{s.airline}}</div> from {{s.source}} to {{s.destination}} date of flight: {{s.date}} Fare: {{s.fare}} Seats: {{s.seatcount}}
      </div>
      <button type="submit" (click)="deleteBooking(s,i)   " style="background-color: red;" class="btn-close" aria-label="Close"></button>
    </li>
</ol>
