<app-navbar></app-navbar>
<h1>WELCOME {{user}}</h1>

<h2 class="display-1">Enter Your PNR Number</h2>
<br />


  <!-- <p style="text-align: center;"><b></b> -->

<div class="search">
  <input type="text" class="form-control" placeholder="Enter PNR Number To Get Ticket Details" formControlName="searchText">
  <button (click)="searchPNRdetail()" class="btn btn-primary" >Search</button>
</div>

<!-- <ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let s of bookings; index as i">
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{s.airline}}</div> from {{s.source}} to {{s.destination}} date of flight: {{s.date}} Fare: {{s.fare}} Seats: {{s.seatcount}}
      </div>
      <button type="submit" (click)="deleteBooking(s,i)   " style="background-color: red;" class="btn-close" aria-label="Close"></button>
    </li>
</ol> -->