h4 {
    border: #EEEEEE 5px SOLID;
    border-radius: 25px;
    text-align: center;
    background-color: #DD0031;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.div_bgImg {
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    /* background-repeat: no-repeat; */
    /* background-position: 100px 10px; */
    /* background-attachment: fixed; */
    background-image: url('https://media.istockphoto.com/id/1024209262/photo/abstract-blur-contemporary-office-interior-blue-background-concept.jpg?s=612x612&w=0&k=20&c=xGWDWRk2k_Wz2WefBlFcIKjqdOiZxc2EKlrenKV2Quw=');
  }

  label{font-weight: bold;color: rgb(84, 84, 138);}
  form{border:#54548A 5px SOLID;}
