.spacer {
  flex: 1;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #009DD2;
}

.navbar-brand {
  color: white;
  font-weight: 600;
  font-size: x-large;
}

.navbar-nav {
  color: #fff;
  font-weight: 600;
  font-size: medium;
}