h1{text-align: center;background-color: #1B9DDA;color: aqua;}
.div_bgImg {
    background-image: url('https://previews.123rf.com/images/elnurbabayev/elnurbabayev1905/elnurbabayev190500467/125514869-travel-around-the-world-airplane-routes-seamless-pattern-background-vector-endless-texture-can-be-us.jpg');
  }

  body {
    background: rgb(186, 224, 240);
 }
 .light {
   width: 10px;
   height: 10px;
   background: red;
   border-radius: 50%;
      bottom: 295px;
   position: absolute;
   z-index: 10;
   left: 20px;
   animation: light 800ms ease-in-out 0s infinite alternate;
 }
 .cloud {
   position: absolute;
   top: 0px;
   right: -500px;
   opacity: .8;
    animation: cloud 10s linear 0s infinite reverse;
   /* z-index: 99; */
 }
 @keyframes light {
   0% {opacity: 0;}
   100% {opacity: 1;}
 }
 @keyframes cloud {
   from {right:-500px;}
   to {right: 102%;}
 }